<!-- voucher content -->
<div class="col-span-9 mt-6 lg:mt-0 space-y-4">
  <!-- single voucher -->
  <div
      class="flex items-center md:justify-between gap-4 md:gap-6 p-4 border border-gray-200 rounded flex-wrap md:flex-nowrap">

      <!-- Voucher content -->
      <div class="md:w-1/3 w-full">
          <h2 class="text-gray-800 mb-1 xl:text-xl textl-lg font-medium uppercase">
              90% off
          </h2>
          <p class="text-gray-500 text-sm">vBlkhj60</p>
          <h1 class="text-gray-800 mb-1 mt-1 xl:text-xl textl-lg font-medium uppercase">
            Rs. 400.00 min
        </h1>
      </div>
      <!-- Voucher content end -->
      <div class="">
        <h2 class="text-gray-800 mb-1 xl:text-xl textl-lg font-medium uppercase">
          Rs. 400.00
      </h2>
      <p class="text-gray-500 text-sm">Valid until</p>
      <h1 class="text-gray-800 mb-1  xl:text-xl textl-lg font-medium uppercase">
        28.08.2023
    </h1>
      </div>


  </div>
  <!-- single voucher end -->
  <!-- single voucher -->
  <div
      class="flex items-center md:justify-between gap-4 md:gap-6 p-4 border border-gray-200 rounded flex-wrap md:flex-nowrap">

      <!-- Voucher content -->
      <div class="md:w-1/3 w-full">
          <h2 class="text-gray-800 mb-1 xl:text-xl textl-lg font-medium uppercase">
              90% off
          </h2>
          <p class="text-gray-500 text-sm">vBlkhj60</p>
          <h1 class="text-gray-800 mb-1 mt-1 xl:text-xl textl-lg font-medium uppercase">
            Rs. 400.00 min
        </h1>
      </div>
      <!-- Voucher content end -->
      <div class="">
        <h2 class="text-gray-800 mb-1 xl:text-xl textl-lg font-medium uppercase">
          Rs. 400.00
      </h2>
      <p class="text-gray-500 text-sm">Valid until</p>
      <h1 class="text-gray-800 mb-1  xl:text-xl textl-lg font-medium uppercase">
        28.08.2023
    </h1>
      </div>


  </div>
  <!-- single voucher end -->
</div>
<!-- voucher content end -->
