<!-- breadcrum -->
<div class="py-4 container flex gap-3 items-center">
    <a href="index.html" class="text-primary text-base">
        <i class="fas fa-home"></i>
    </a>
    <span class="text-sm text-gray-400"><i class="fas fa-chevron-right"></i></span>
    <p class="text-gray-600 font-medium uppercase">My Account</p>
</div>
<!-- <app-sidebar></app-sidebar> -->
<!-- breadcrum end -->

<!-- account wrapper -->
<div class="container lg:grid grid-cols-12 items-start gap-6 pt-4 pb-16">
    <div class="col-span-3">
        <app-sidebar></app-sidebar>
    </div>

<div class="col-span-9 grid md:grid-cols-3 gap-4 mt-6 lg:mt-0">

<app-profile-info class="contents" *ngIf="isActiveComponent('profileInfo')" ></app-profile-info>
<!-- <app-change-password></app-change-password> -->
<app-manage-address class="contents" *ngIf="isActiveComponent('manageAddress')"></app-manage-address>
<app-change-password class="contents
" *ngIf="isActiveComponent('changePassword')" ></app-change-password>
<app-user-returns class="contents" *ngIf="isActiveComponent('userReturns')"></app-user-returns>
<app-user-cancellations class="contents" *ngIf="isActiveComponent('userCancellations')"></app-user-cancellations>
<app-user-reviews class="contents" *ngIf="isActiveComponent('userReviews')"></app-user-reviews>
</div>
</div>
<!-- <router-outlet></router-outlet> -->
