<!-- breadcrum -->
<div class="py-4 container flex gap-3 items-center">
    <a routerLink="/" class="text-primary text-base">
        <i class="fas fa-home"></i>
    </a>
    <span class="text-sm text-gray-400"><i class="fas fa-chevron-right"></i></span>
    <a routerLink="/shop" class="text-primary text-base font-medium uppercase">
        Shop
    </a>
    <span class="text-sm text-gray-400"><i class="fas fa-chevron-right"></i></span>
    <p class="text-gray-600 font-medium uppercase">Italian L Shape Sofa</p>
</div>
<!-- breadcrum end -->
