<!-- account content -->
<div class="col-span-9 mt-6 lg:mt-0 space-y-4">
  <!-- single wishlist -->
  <div
  class="flex items-center md:justify-between gap-4 md:gap-6 p-4 border border-gray-200 rounded flex-wrap md:flex-nowrap">
  <!-- cart image -->
  <div class="w-28 flex-shrink-0">
      <img src="assets/images/products/product9.jpg"  class="w-full">
  </div>
  <!-- cart image end -->
  <!-- cart content -->
  <div class="w-full">
      <h2 routerLink="/view" class="text-gray-800 mb-1 xl:text-xl textl-lg font-medium uppercase hover:text-primary cursor-pointer">
          Italian L Shape Sofa
      </h2>
      <p class="text-gray-500 text-sm">Product is very good, Material is good quality. Highly recommended.</p>
      <div  class="flex items-center"><div  class="flex gap-1 text-sm text-yellow-400"><span ><i  class="fas fa-star"></i></span><span ><i  class="fas fa-star"></i></span><span ><i  class="fas fa-star"></i></span><span ><i  class="fas fa-star"></i></span><span ><i  class="fas fa-star"></i></span></div></div>
  </div>
  <!-- cart content end -->



 </div>
 <!-- single wishlist end -->
   <!-- single wishlist -->
   <div
       class="flex items-center md:justify-between gap-4 md:gap-6 p-4 border border-gray-200 rounded flex-wrap md:flex-nowrap">
       <!-- cart image -->
       <div class="w-28 flex-shrink-0">
           <img src="assets/images/products/product9.jpg"  class="w-full">
       </div>
       <!-- cart image end -->
       <!-- cart content -->
       <div class="w-full">
           <h2 routerLink="/view" class="text-gray-800 mb-1 xl:text-xl textl-lg font-medium uppercase hover:text-primary cursor-pointer">
               Italian L Shape Sofa
           </h2>
           <p class="text-gray-500 text-sm">Product is very good, Material is good quality. Highly recommended.</p>
           <div  class="flex items-center"><div  class="flex gap-1 text-sm text-yellow-400"><span ><i  class="fas fa-star"></i></span><span ><i  class="fas fa-star"></i></span><span ><i  class="fas fa-star"></i></span><span ><i  class="fas fa-star"></i></span><span ><i  class="fas fa-star"></i></span></div></div>
       </div>
       <!-- cart content end -->



   </div>
   <!-- single wishlist end -->
 </div>
 <!-- account content end -->
