<!-- checkout form -->

    <form action="">
        <h3 class="text-lg font-medium capitalize mb-4">
            checkout
        </h3>

        <div class="space-y-4">
            <div class="grid sm:grid-cols-2 gap-4">
                <div>
                    <label class="text-gray-600 mb-2 block">
                        First Name <span class="text-primary">*</span>
                    </label>
                    <input type="text" class="input-box">
                </div>
                <div>
                    <label class="text-gray-600 mb-2 block">
                        Last Name <span class="text-primary">*</span>
                    </label>
                    <input type="text" class="input-box">
                </div>
            </div>
            <div>
                <label class="text-gray-600 mb-2 block">
                    Company Name
                </label>
                <input type="text" class="input-box">
            </div>
            <div>
                <label class="text-gray-600 mb-2 block">
                    County/Region <span class="text-primary">*</span>
                </label>
                <input type="text" class="input-box">
            </div>
            <div>
                <label class="text-gray-600 mb-2 block">
                    Street Address <span class="text-primary">*</span>
                </label>
                <input type="text" class="input-box">
            </div>
            <div>
                <label class="text-gray-600 mb-2 block">
                    Town/City <span class="text-primary">*</span>
                </label>
                <input type="text" class="input-box">
            </div>
            <div>
                <label class="text-gray-600 mb-2 block">
                    Zip Code <span class="text-primary">*</span>
                </label>
                <input type="text" class="input-box">
            </div>
            <div>
                <label class="text-gray-600 mb-2 block">
                    Phone Number <span class="text-primary">*</span>
                </label>
                <input type="text" class="input-box">
            </div>
            <div>
                <label class="text-gray-600 mb-2 block">
                    Email Address <span class="text-primary">*</span>
                </label>
                <input type="text" class="input-box">
            </div>
        </div>
    </form>

<!-- checkout form end -->