<!-- categories -->
<div class="container pb-16">
    <h2 class="text-2xl md:text-3xl font-medium text-gray-800 uppercase mb-6">shop by category</h2>
    <div class="grid lg:grid-cols-3 sm:grid-cols-2 gap-3">
        <!-- single category -->
        <div class="relative group rounded-sm overflow-hidden" >
            <img src="assets/images/category/category-1.jpg" class="w-full">
            <a routerLink="/shop" class="absolute inset-0 bg-black bg-opacity-40 group-hover:bg-opacity-50 flex items-center justify-center text-xl text-white 
                font-roboto font-medium tracking-wide transition">
                Bedroom
            </a>
        </div>
        <!-- single category end -->
        <!-- single category -->
        <div class="relative group rounded-sm overflow-hidden" >
            <img src="assets/images/category/category-5.jpg" class="w-full">
            <a routerLink="/shop" class="absolute inset-0 bg-black bg-opacity-40 group-hover:bg-opacity-50 flex items-center justify-center text-xl text-white 
                font-roboto font-medium tracking-wide transition">
                Sofa
            </a>
        </div>
        <!-- single category end -->
        <!-- single category -->
        <div class="relative group rounded-sm overflow-hidden" >
            <img src="assets/images/category/category-3.jpg" class="w-full">
            <a routerLink="/shop" class="absolute inset-0 bg-black bg-opacity-40 group-hover:bg-opacity-50 flex items-center justify-center text-xl text-white 
                font-roboto font-medium tracking-wide transition">
                Office
            </a>
        </div>
        <!-- single category end -->
        <!-- single category -->
        <div class="relative group rounded-sm overflow-hidden" >
            <img src="assets/images/category/category-4.jpg" class="w-full">
            <a routerLink="/shop" class="absolute inset-0 bg-black bg-opacity-40 group-hover:bg-opacity-50 flex items-center justify-center text-xl text-white 
                font-roboto font-medium tracking-wide transition">
                Outdoor
            </a>
        </div>
        <!-- single category end -->
        <!-- single category -->
        <div class="relative group rounded-sm overflow-hidden" >
            <img src="assets/images/category/category-2.jpg" class="w-full">
            <a routerLink="/shop" class="absolute inset-0 bg-black bg-opacity-40 group-hover:bg-opacity-50 flex items-center justify-center text-xl text-white 
                font-roboto font-medium tracking-wide transition">
                Mattress
            </a>
        </div>
        <!-- single category end -->
        <!-- single category -->
        <div class="relative group rounded-sm overflow-hidden" >
            <img src="assets/images/category/category-6.jpg" class="w-full">
            <a routerLink="/shop" class="absolute inset-0 bg-black bg-opacity-40 group-hover:bg-opacity-50 flex items-center justify-center text-xl text-white 
                    font-roboto font-medium tracking-wide transition">
                Dinings
            </a>
        </div>
        <!-- single category end -->
    </div>
</div>
<!-- categories end -->